
#default-animation{
    transition: all 0.4s linear;
}

#animation-ng-show-slide-left-right(@offset: 10%){
    transition:all 0.5s ease-out;

    &.ng-hide{
        transform: translateX(-1 * @offset);
        opacity: 0.1;
        height: 0px !important;
    }
    &.ng-hide-remove-active{
        position: absolute;
        opacity: 0.8;
        transform: translateX(@offset);
        height: 0px !important;
    }
}

#animation-ng-show-slide-top-bottom(@offset: 100%){
    transition:all 0.4s ease-out;

    &.ng-hide{
        transform: translateY(-1*@offset);
        opacity: 0.1;

    }
    &.ng-hide-remove{
        transition:all 0.5s linear;
        transform: translateY(@offset/3);
        opacity: 0;
        height: 0px;
    }
}

#animation-ng-show-slide-top-top(@offset: 20%){
    transition:all 0.2s ease-out;

    &.ng-hide{
        transition:all 0.3s linear;
        transform: translateY(-1 * @offset*2) rotate3d(0,0.5,0.8, -90deg);
        opacity: 0;
    }
    &.ng-hide-remove{
        transform: translateY(-1 * @offset);
        opacity: 0;
    }
}

@keyframes bounceTopBottom {
    0%{
        transform: translateY(0%);
        opacity: 0.2;
    }
    50% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}


.ui-view-container {
    display: block;
    transition: all 0.5s ease-in-out;
    animation: 0.3s bounceTopBottom linear;
    .ui-view-animation {
        display: block;
        transition: all 0.5s ease-in-out;
        &.ng-enter, &.ng-leave {
            overflow: hidden;
            opacity: 0.8;
            transform: scale(0.8) translateY(-10%);
        }
        &.ng-hide-add, &.ng-enter-active  {
            overflow: hidden;
            opacity: 0.4;
            transform: scale(0.8) translateY(-30%);
        }
        &.ng-hide-remove, &.ng-leave-active {
            overflow: hidden;
            opacity: 0.2;
            transform: scale(0.5) translateY(-50%);
        }
        &.ng-hide, &.ng-leave {
            overflow: hidden;
            display: none;
        }
    }
}
