html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		base(href="/")
		// bower:js
		// endbower
		// bower:css
		// endbower
		link(rel="stylesheet", type="text/css", href="/client/style.css")

		<% if (useCms) { %>
		script
			if $isDevPlatform
				| var CMS_URL = 'localhost:3000';
			else
				| var CMS_URL = 'bla-bla.com';
			| var CMS_DB_BUCKET = '#{$cmsDbBucket}';
		
		script(src="/client/cms_lib/lb-services.js")
		<% } %>


		block app_js


	body
		block body
