extends ./base.jade


block ng_app
    <%  if (useUiCms) { %>//- подключаем файл с ngResource-моделями от cms и другие библиотеки, css
    //- TODO: сгребти js и css файлы от cms в 1 большой js-блоб 
    if $isDevPlatform
        script(src="http://localhost:3000/client/cms_app.js")
        link(type="text/css", href="http://localhost:3000/client/cms_app.css", rel="stylesheet")
    else
        script(src="#{CMS_BASE_URL}/client/cms_app.min.js")
        link(type="text/css", href="#{CMS_BASE_URL}/client/cms_app.css", rel="stylesheet")
    <% } %>//-
    if $isDevPlatform
        <!-- start auto template tags -->
        <!-- end auto template tags -->
    else
        script(src="/client/index_app.min.js")



block body_content
    <%  if (useAngular) { %>
    .text-center(style="margin-top:1em;")
        .btn-group
            a.btn.btn-primary(ui-sref="app.index", ui-sref-active='active') Index
            a.btn.btn-success(ui-sref="app.secondPage", ui-sref-active='active') SecondPage
    .ui-view-container.text-center(ui-view='')
    <% } else { %>
    .container.text-center(style="margin-top:3em;")
        h1 Hello!
        p Simple app with jQuery and Bootstrap (no angular, gettext)
    <% } %>
