#IndexView
    h1 Index View 
    small (see /@@__SOURCE_PATH__/*)
    
    .row.content
        .col-xs-50.col-xs-offset-25
            .form-group
                label Test text with gettext
                
            div(style="margin-bottom:1em;")
                lang-picker

            label Rendered Value:
            p(translate) Hello!
